/* Fontes */

@font-face {
  font-family: 'Necto-Mono';
  src: url('../fonts/Necto-Mono.woff2') format('woff2'),
       url('../fonts/Necto-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Variavéis */

:root {
  --cor-principal: #000;
  --cor-secundaria: greenyellow;
  --fonte-principal: 'Necto-Mono', sans-serif;
  --fonte-secundaria: 'Georgia', serif;
  --fonte-grande: 1.5rem;
  --fonte-normal: 1rem;
  --fonte-pqn: 0.8rem;
}

/* Geral */

* {
  box-sizing: border-box;
}

img {
  mix-blend-mode: multiply;
  display: block;
}

html, body {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  color: var(--cor-principal);
  background-color: var(--cor-secundaria);
  line-height: 1.2em;
}

.pagina {
  padding: 1rem;
  max-width: 1400px;
  margin: auto;
}

h1, h2 {
  font-family: var(--fonte-principal);
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  max-width: 30ch;
  line-height: 1.2rem;
  text-transform: uppercase;
}

h3 {
  font-family: var(--fonte-principal);
  font-size: 0.5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

a,
a:visited {
  color: var(--cor-principal);
  position: relative;
  font-family: var(--fonte-principal);
}

a:hover,
a:focus {
  transition: scale(101%);
}

p {
  margin-top: 0;
}

blockquote {
  padding: 0;
  margin: 0;
  font-family: var(--fonte-principal);
  text-transform: uppercase;
}

.botao {
  font-family: var(--fonte-principal);
  font-size: 0.65rem;
  border: 1px solid var(--cor-principal);
  border-radius: 1rem;
  background-color: transparent;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
  display: inline-block;
}

.botao:hover,
.botao:focus,
.botao.ativo {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  cursor: pointer;
}

/* Cabecalho */

.cabecalho {
  display: block;
  margin-bottom: 8rem;
}

.menu-principal ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 700px) {

  .cabecalho {
    display: flex;
    justify-content: space-between;
  }

  .menu-principal ul li {
    margin-left: 1rem;
  }

}

/* Seção */

.secao {
  margin-bottom: 8rem;
}

@media screen and (min-width: 700px) {

  .secao.colunas {
    display: flex;
    justify-content: space-between;
  }

  .coluna {
    width: calc(50% - 1rem);
  }
}

/* Página single e lista padrão */

.conteudo.simples header {
  margin-bottom: 4rem;
}

.conteudo.simples header h1 {

}

/* Filtros */

.secao.filtros {
  margin-bottom: 2rem;
}

.lista-filtros {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
}

.lista-filtros li {
  display: inline-block;
}

@media screen and (min-width: 700px) {
  .secao.filtros {
    display: flex;
  }

  .secao.filtros .filtro {
    margin-left: 2rem;
  }
}


/* Indice */

@media screen and (min-width: 700px) {
  .secao.indice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .secao.indice .item {
    max-width: calc(100% / 2);
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .secao.indice .item {
    max-width: calc(100% / 3);
  }
}

@media screen and (min-width: 1300px) {
  .secao.indice .item {
    max-width: calc(100% / 4);
  }
}

.indice .forma {
  border: 1px solid var(--cor-principal);
  position: relative;
  margin: 0 0 1rem 0;
}

.indice .forma .capa img {
  max-width: 100%;
  
}

.indice .forma .capa {
  background-color: var(--cor-secundaria);
}

.indice .forma .info {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 0.5rem;
  background-color: var(--cor-secundaria);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity ease-in-out .2s;
}

.indice .forma:hover .info,
.indice .forma:focus .info {
  opacity: 1;
}

.indice .forma .info header,
.indice .forma .info footer {
  font-family: var(--fonte-principal);
  font-size: 0.5rem;
  text-transform: uppercase;
  line-height: 1em;
}

.indice .forma .info footer {
  display: flex;
  justify-content: space-between;
}

.indice .forma .info footer p {
  margin-bottom: 0;
  
}

.indice .forma .info .descricao {
  font-size: 0.7rem;
  text-align: center;
  padding:0 1rem 0 1rem;
  margin-bottom: 0;
  line-height: 1.2em;
}

.indice .forma .info .abrir {
  text-align: center;
}

/* Forma introdução */

.forma-introducao header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.forma-introducao header h2 {
  margin: 0;
}

.forma-introducao footer {
  font-family: var(--fonte-principal);
  font-size: 0.65rem;
  text-transform: uppercase;
}

.forma-introducao .thumb figure {
  margin: 0;
}

.forma-introducao .thumb img {
  width: 100%;
}

/* Galeria */

.galeria {
  margin: 0  -0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.galeria .item {
  padding: 0 0.5rem;
  max-width: calc(100% / 3);
 }

@media screen and (min-width: 700px) {
  .galeria .item {
    max-width: calc(100% / 5);
  }
}

.galeria figure {
  border: 1px solid var(--cor-principal);
  position: relative;
  margin: 0 0 1rem 0;
}

.galeria figure img {
  max-width: 100%;
}

.galeria figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 0.5rem;
  background-color: var(--cor-secundaria);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity ease-in-out .2s;
  font-family: var(--fonte-principal);
  text-align: center;
}

.galeria figure figcaption:hover,
.galeria figure figcaption:focus {
  opacity: 1;
}