<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }} - {{ .Title }} </title>
  <link rel="stylesheet" href="{{ `css/normalize.css` | absURL }}">
  <link rel="stylesheet" href="{{ `css/main.css` | absURL }}">
  <script src="{{ `js/jquery-3.5.1.min.js` | absURL }}"></script>
  <script src="{{ `js/isotope.pkgd.min.js` | absURL }}"></script>
</head>
<body>
  <div class="pagina">

  {{ partial "cabecalho.html" . }}

  {{ block "main" .}}

  {{ end }}

  {{ partial "rodape.html"}}

  </div>

  <script>
    
  
  </script>
  <script src="{{ `js/main.js` | absURL }}"></script>
</body>
</html>