<!DOCTYPE html>
<html lang="pt-br">

{{ partial "head.html" . }}
<body>
  
  <div class="pagina {{ .Title | urlize }}">

  {{ partial "cabecalho.html" . }}

  <div class="preloader"><div class="loader"></div></div>
  <div class="conteudo carregando">
    

    {{ block "main" .}}

  {{ end }}

  </div>

  {{ partial "rodape.html"}}

  

  </div>
  <script type="text/javascript" src="{{ `js/jquery-3.5.1.min.js` | absURL }}"></script>
  <script type="text/javascript" src="{{ `js/slick.min.js` | absURL }}"></script>
  <script type="text/javascript" src="{{ `js/main.js` | absURL }}"></script>
</body>
</html>