<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }} - {{ .Title }} </title>
  <link rel="stylesheet" href="{{ `css/normalize.css` | absURL }}">
  <link rel="stylesheet" href="{{ `css/slick.css` | absURL }}">
  {{ $style := resources.Get "css/main.css" }}
  {{ $style = $style | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet"> 
  <script>
    // Mudar a cor do fundo

function cor_fundo() {
  let cores = [
    'Aquamarine',
    'Coral',
    'Chocolate',
    'DarkKhaki',
    'DarkSeaGreen',
    'DarkSalmon',
    'DarkOrange',
    'DarkTurquoise',
    'Gold',
    'IndianRed',
    'LightCoral',
    'LightPink',
    'LightSalmon',
    'MediumTurquoise',
    'Peru',
    'Salmon',
    'SandyBrown',
    'Tan',
    'Tomato',
    ];
  
  let cor = cores[Math.floor(Math.random() * cores.length)];
  document.documentElement.style.setProperty('--cor-secundaria', cor);
};
cor_fundo();
  </script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
</head>